<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="Programming Practice" />
    <add key="ExceptionDomainStackTrace" value="DomainStackTrace"/>
    <add key="ExceptionLogSource" value="BgmCollaboration"/>
    <add key="ExceptionLogId" value="1026"/>
    <add key="WorkLoadAmount" value="30"/>
  </appSettings>
</configuration>